.projectIntro {
  font-family: "Montserrat";
  background-color: var(--red);
  color: var(--yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.projectIntro .back{
  position: absolute;
  top: 20px;
  left: 20px;
}

.projectIntro .content {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.projectIntro .header {
  position: absolute;
  top: 2%;
  opacity: 0;
  animation: appear 1s ease forwards;
}

.projectIntro .logo {
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.projectIntro .subheader {
  font-size: 3.2vw;
  font-weight: 400;
  font-family: "1FTV HF Gesco";
  opacity: 0;
  animation: appear 1s ease forwards 0.3s;
}

.projectIntro .title {
  position: relative;
  top: -3%;
  font-size: 13vw;
  font-weight: 400;
  line-height: 1;
  font-family: "1FTV HF Gesco";
  opacity: 0;
  animation: appear 1s ease forwards 0.3s;
}

.projectIntro .description {
  color: white;
  width: 80%;
  font-family: "Montserrat";
  font-size: 1.6vw;
  font-weight: 300;
  opacity: 0;
  animation: appear 1s ease forwards 0.7s;
}

.cornerImg {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  animation: appear 1s ease forwards 0.7s;
}

@keyframes appear {
  0% {
    transform: translateY(5%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
