:root {
    --green: #365F2E; 
    --cream: #F3E0C7;
    --yellow: #FFBF4D; 
    --red: #A51F23;
}

/* Intro section */

.intro {
    background-color: var(--green);
    height: 100vh;
    overflow: auto;
}

.navigationButton {
    position: sticky;
    background-color: var(--red);
    color: #fff;
    width: 5%;
    aspect-ratio: 1 / 1;
    top: 3%;
    left: 2%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content {
    height: 100vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--cream);
}

.header {
    position: absolute;
    top: 3%;    
}

.logo {
    object-fit: contain;
    width: 10%;
    margin: 0;
    padding: 0;
}

.subtitle {
    font-size: 40px;
    font-family: '1FTV HF Gesco', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 3%;
}

.tagline {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.highlight {
    color: var(--yellow); 
    font-weight: 700;
}

.graphicLeft,
.graphicRight {
    position: absolute;
    bottom: 12%;
}

.graphicLeft {
    left: 0%;
}

.graphicRight {
    right: 0%;
}

/* Values section */

.values {
    background-color: var(--cream);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}



.valuesContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.border {
    width: 55%;
    height: 5px;
    position: absolute;
    bottom: 0;
    background-color: black;
    border-radius: 5px;
}

/* People section */

.people {
    background-color: var(--cream);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}