:root {
    --green: #365F2E; 
    --cream: #F3E0C7;
    --yellow: #FFBF4D; 
    --red: #A51F23;
}

/* Intro section */

.intro {
    background-color: var(--green);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.navigationButton {
    position: absolute;
    background-color: var(--red);
    color: #fff;
    width: 50px;
    aspect-ratio: 1 / 1;
    top: 3%;
    left: 2%;
    border-radius: 10px 10px 10px 10px;
    opacity: 0px;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content {
    text-align: center;
    color: #fdf8dc; /* Cream text color */
    font-style: 'Monteserrat', 500;
}

.logo {    
    position: absolute;
    object-fit: contain;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 8.5%;
    margin: 0;
    padding: 0;
}

.dot {
    color: #e9a423;
}

.subtitle {
    font-size: 40px;
    font-family: '1FTV HF Gesco', sans-serif;
    font-weight: 500;
    margin: 10px 0;
    text-transform: uppercase;
}

.tagline {
    font-size: 24px;
    font-weight: 300;
    margin-top: 20px;
    line-height: 1.5;
}

.highlight {
    color: #e9a423; /* Yellow color */
    font-weight: bold;
}

.graphics {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.graphicLeft,
.graphicRight {
    width: 150px;
    height: 100px;
    background: url('/path-to-graphic.svg') no-repeat center/contain;
}

/* Values section */

.values {
    background-color: var(--cream);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}