.page {
  width: 100%;
  height: auto;
}

.firstBlock {
  background-color: #f3e0c7;
  height: 100vh;
  position: relative;
}
.secondBlock {
  background-color: #365f2e;
  height: 200vh;
}
.thirdBlock {
  background-color: #f3e0c7;
  height: 100vh;
}
.forthBlock {
  background-color: #0f0e0e;
  height: 80vh;
}

