.page {
  width: 100%;
  height: auto;
}

.firstBlock {
  background-color: #f3e0c7;
  height: 100vh;
  position: relative;
}
.secondBlock {
  background-color: #365f2e;
  height: 200vh;
}
.thirdBlock {
  background-color: #f3e0c7;
  height: 100vh;
}
.forthBlock {
  background-color: #0f0e0e;
  height: 80vh;
}

.firstBlock svg {
  width: 75%;
  height: 75%;
}

.firstBlock .vector1 {
  position: absolute;
  left: 20%;
  top: 35%;
}

.firstBlock .vector2 {
  position: absolute;
  left: 30%;
  top: 35%;
}

.firstBlock .vector3 {
  position: absolute;
  left: 39%;
  top: 35%;
}

.firstBlock .vector4 {
  position: absolute;
  left: 43%;
  top: 45%;
}

.firstBlock .vector5 {
  position: absolute;
  left: 45%;
  top: 46%;
}

.firstBlock .vector6 {
  position: absolute;
  left: 47%;
  top: 47%;
}

.firstBlock .vector7 {
  position: absolute;
  right: -10%;
  top: 0.32%;
}

.firstBlock .vector8 {
  position: absolute;
  right: -8%;
  top: 33%;
}

.firstBlock .vector9 {
  position: absolute;
  right: -6%;
  top: 50%;
}
