.secondBlock {
  background-color: #365f2e;
  height: 2000px;
  position: relative;
}

.secondBlock .content {
  position: absolute;
  max-width: 1470px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.secondBlock .content .firstContent {
  position: absolute;
  width: 1260px;
  height: 299px;
  left: 108px;
  top: 110px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 73px;
  color: #f3e0c7;
}

.secondBlock .content .firstContent > span {
  font-family: "Montserrat";
  font-size: 60px;
  font-style: italic;
  font-weight: 700;
  line-height: 73.14px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffbf4d;
}

.secondBlock .content .firstImage {
  position: absolute;
  width: 480px;
  height: 360px;
  top: 473px;
  left: 138px;
  gap: 0px;
  
}

.secondBlock .content .firstRoute {
  position: absolute;
  right: 100px;
  top: 873px;
  display: flex;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.secondBlock .content .firstRoute p {
  margin-left: 30px;
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 500;
  line-height: 39.01px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffbf4d;
  cursor: pointer;
}

.secondBlock .content .secondContent {
  position: absolute;
  width: 630px;
  height: 216px;
  top: 473px;
  left: 730px;
  gap: 0px;
  
  font-family: "Montserrat";
  font-size: 37px;
  font-weight: 500;
  line-height: 45.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #f3e0c7;
}

.secondBlock .content .divider {
  position: absolute;
  width: 852px;
  top: 1012px;
  height: 0px;
  left: 328px;
  border-top: 5px solid #f3e0c7;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

.secondBlock .content .thirdContent {
  position: absolute;
  width: 393px;
  height: 446px;
  top: 1240px;
  left: 112px;
  gap: 0px;
  
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff0d6;
}

.secondBlock .content .forthContent {
  position: absolute;
  width: 393px;
  height: 307px;
  top: 1240px;
  left: 580px;
  gap: 0px;
  
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff0d6;
}

.secondBlock .content .secondImage {
  position: absolute;
  top: 1229px;
  left: 1028px;
  gap: 0px;
  
}

.secondBlock img {
  width: 100%;
  height: 100%;
}

.secondBlock .content .fifthContent {
  position: absolute;
  width: 436px;
  height: 163px;
  top: 1730px;
  left: 114px;
  gap: 0px;
  
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffbf4d;
}

.secondBlock .content .sixthContent {
  position: absolute;
  width: 436px;
  height: 163px;
  top: 1730px;
  left: 579px;
  gap: 0px;
  
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffbf4d;
}

.secondBlock .content .secondRoute {
  position: absolute;
  right: 100px;
  top: 1730px;
  display: flex;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.secondBlock .content .secondRoute p {
  margin-left: 30px;
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 500;
  line-height: 39.01px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffbf4d;
  cursor: pointer;
}